<h1>映画情報を編集</h1>

<%= form_with model: @movie, local: true do |f| %>
<!-- エラーメッセージを表示 -->
<%= render "shared/error_messages", model: @movie %>

  <div class="mb-3">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :description, "説明" %>
    <%= f.text_area :description, class: "form-control", rows: 5 %>
  </div>

  <div class="mb-3">
    <%= f.label :streaming_url, "視聴リンク (任意)" %>
    <%= f.text_field :streaming_url, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :image, "映画の画像" %>
    <% if @movie.image.attached? %>
      <div class="mb-2">
        <%= image_tag @movie.image.variant(resize_to_limit: [300, 200]), class: "img-thumbnail" %>
      </div>
    <% end %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <%= f.submit "更新する", class: "btn btn-primary" %>
  <%= link_to "キャンセル", movie_path(@movie), class: "btn btn-secondary ms-2" %>
<% end %>
