<%= render "shared/header" %>
<h1><%= @movie.title %> のチャット</h1>

<!-- 新しいメッセージを投稿 -->
<div id="chats">
  <h4>＜コメント一覧＞</h4>
    <% @movie.chats.each do |chat| %>
      <div class="chat">
        <p class="user-info"><%= chat.user.name %>: </p>
        <p><%= chat.message%></p>
      </div>
    <% end %>
</div>

<div class="chat-form">
  <% if user_signed_in? %>
    <%= form_with model: [@movie, @chat], id: "chat-form" do |f| %>
      <%= f.text_area :message , class: "chat-text"%>
      <%= f.submit "コメントをする", class: "chat-submit" %>
    <% end %>
  <% end %>
</div>



<%= link_to "映画詳細に戻る", movie_path(@movie), class: "btn btn-secondary mt-3" %>
